/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */



body {
  background-color:black;
  background: url(https://cdn.hyperdev.com/us-east-1%3A39d8f319-63a5-4192-afb4-6324f2c1b211%2Fstars-1246590.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Copperplate Gothic Light', fantasy;
}

h1 {
  color:white;
  text-align:center;
}

h2 {
  text-align: center;
}

.fixed {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style:none;
}

li {
  margin: 25px 25px;
  font-size: 1.4em;
  border-bottom: solid white 2px;
}

label:hover {
  text-decoration:underline;
}

label:active {
  background-color: azure;
}

.output {
  height: auto;
  width: auto;
  overflow:hidden;
  position: relative;
  border-radius: 5px;
  background-color:white;
  top: 5vh;
}

.buttons {
  position:relative;
  margin: 0 auto;
  width:75%;
  text-align:center;
}

button {
  height: 50px;
  width: 30%;
  background-color: skyblue;
  border:none;
  box-shadow: 1px 1px 2px white;
  margin: 0 5vw 0 0;
  border-radius: 10px;
  font-size:1.5em;
}

button:focus {
  outline:none;
}
button:hover {
  background-color:azure;
}
button:active {
  box-shadow: none;
  background-color:ivory;
}