

body {
  background-color:black;
  background: url(https://cdn.hyperdev.com/us-east-1%3A39d8f319-63a5-4192-afb4-6324f2c1b211%2Fstars-1246590.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Copperplate Gothic Light', fantasy;
}

h1 {
  color:white;
  text-align:center;
}

h2 {
  text-align: center;
}

.fixed {
  width: 100%;
  margin: 0 auto;

}

#answers {
  margin: 0 10vh;
  font-size: 1.1em;
}

#answers > div {
  margin: 5vh 0;
  display: block;
  height: auto; 
}

label:hover {
  text-decoration:underline;
}

label:active {
  background-color: azure;
}

.output {
  height: auto;
  width: auto;
  overflow:hidden;
  position: relative;
  background-color:white;
  top: 5vh;
}

.buttons {
  position:relative;
  margin: 0 auto;
  width:75%;
  text-align:center;
}

button {
  height: 50px;
  width: 30%;
  background-color: skyblue;
  border:none;
  box-shadow: 1px 1px 2px white;
  margin: 0 5vw 0 0;
  font-size:1.5em;
}

button:focus {
  outline:none;
}
button:hover {
  background-color:azure;
}
button:active {
  box-shadow: none;
  background-color:ivory;
}

/* checkbox rules */
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}

@media only screen and (min-width: 1100px) {
  .fixed {
  width: 80%;
  }
  
  #answers {
    font-size:1.5em;
  }
}
  
}